<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>category 23.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{81,94}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{81,94}}</string>
        <key>sourceSize</key>
        <string>{81,94}</string>
      </dict>
      <key>category 15.png</key>
      <dict>
        <key>frame</key>
        <string>{{87,2},{87,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{87,82}}</string>
        <key>sourceSize</key>
        <string>{87,82}</string>
      </dict>
      <key>category 20.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,100},{78,87}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,87}}</string>
        <key>sourceSize</key>
        <string>{78,87}</string>
      </dict>
      <key>category 10.png</key>
      <dict>
        <key>frame</key>
        <string>{{93,93},{84,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{84,80}}</string>
        <key>sourceSize</key>
        <string>{84,80}</string>
      </dict>
      <key>category 22.png</key>
      <dict>
        <key>frame</key>
        <string>{{93,177},{92,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{92,73}}</string>
        <key>sourceSize</key>
        <string>{92,73}</string>
      </dict>
      <key>category 11.png</key>
      <dict>
        <key>frame</key>
        <string>{{173,2},{86,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{86,74}}</string>
        <key>sourceSize</key>
        <string>{86,74}</string>
      </dict>
      <key>category 24.png</key>
      <dict>
        <key>frame</key>
        <string>{{181,92},{83,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{83,75}}</string>
        <key>sourceSize</key>
        <string>{83,75}</string>
      </dict>
      <key>category 13.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,182},{83,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{83,70}}</string>
        <key>sourceSize</key>
        <string>{83,70}</string>
      </dict>
      <key>category 4.png</key>
      <dict>
        <key>frame</key>
        <string>{{251,2},{77,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,65}}</string>
        <key>sourceSize</key>
        <string>{77,65}</string>
      </dict>
      <key>category 0.png</key>
      <dict>
        <key>frame</key>
        <string>{{189,171},{77,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,65}}</string>
        <key>sourceSize</key>
        <string>{77,65}</string>
      </dict>
      <key>category 3.png</key>
      <dict>
        <key>frame</key>
        <string>{{268,71},{77,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,64}}</string>
        <key>sourceSize</key>
        <string>{77,64}</string>
      </dict>
      <key>category 1.png</key>
      <dict>
        <key>frame</key>
        <string>{{189,240},{77,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,64}}</string>
        <key>sourceSize</key>
        <string>{77,64}</string>
      </dict>
      <key>category 6.png</key>
      <dict>
        <key>frame</key>
        <string>{{89,254},{69,71}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{69,71}}</string>
        <key>sourceSize</key>
        <string>{69,71}</string>
      </dict>
      <key>category 2.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,256},{76,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{76,64}}</string>
        <key>sourceSize</key>
        <string>{76,64}</string>
      </dict>
      <key>category 21.png</key>
      <dict>
        <key>frame</key>
        <string>{{270,152},{62,69}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,69}}</string>
        <key>sourceSize</key>
        <string>{62,69}</string>
      </dict>
      <key>category 17.png</key>
      <dict>
        <key>frame</key>
        <string>{{270,225},{69,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{69,60}}</string>
        <key>sourceSize</key>
        <string>{69,60}</string>
      </dict>
      <key>category 19.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,308},{90,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,44}}</string>
        <key>sourceSize</key>
        <string>{90,44}</string>
      </dict>
      <key>category 16.png</key>
      <dict>
        <key>frame</key>
        <string>{{270,298},{58,67}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,67}}</string>
        <key>sourceSize</key>
        <string>{58,67}</string>
      </dict>
      <key>category 8.png</key>
      <dict>
        <key>frame</key>
        <string>{{332,2},{62,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,59}}</string>
        <key>sourceSize</key>
        <string>{62,59}</string>
      </dict>
      <key>category 9.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,324},{76,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{76,45}}</string>
        <key>sourceSize</key>
        <string>{76,45}</string>
      </dict>
      <key>category 7.png</key>
      <dict>
        <key>frame</key>
        <string>{{332,298},{45,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,72}}</string>
        <key>sourceSize</key>
        <string>{45,72}</string>
      </dict>
      <key>category 5.png</key>
      <dict>
        <key>frame</key>
        <string>{{334,225},{68,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{68,46}}</string>
        <key>sourceSize</key>
        <string>{68,46}</string>
      </dict>
      <key>category 12.png</key>
      <dict>
        <key>frame</key>
        <string>{{336,65},{47,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,62}}</string>
        <key>sourceSize</key>
        <string>{47,62}</string>
      </dict>
      <key>category 14.png</key>
      <dict>
        <key>frame</key>
        <string>{{82,327},{36,67}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,67}}</string>
        <key>sourceSize</key>
        <string>{36,67}</string>
      </dict>
      <key>category 18.png</key>
      <dict>
        <key>frame</key>
        <string>{{336,131},{74,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{74,28}}</string>
        <key>sourceSize</key>
        <string>{74,28}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>category.png</string>
      <key>size</key>
      <string>{396,372}</string>
      <key>textureFileName</key>
      <string>texture</string>
    </dict>
  </dict>
</plist>
