<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>chat_button2.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{214,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{214,52}}</string>
        <key>sourceSize</key>
        <string>{214,52}</string>
      </dict>
      <key>friend_doll_chatbg.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,58},{167,204}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{167,204}}</string>
        <key>sourceSize</key>
        <string>{167,204}</string>
      </dict>
      <key>my_doll_chat_bg.png</key>
      <dict>
        <key>frame</key>
        <string>{{173,58},{168,204}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{168,204}}</string>
        <key>sourceSize</key>
        <string>{168,204}</string>
      </dict>
      <key>chatmessagebg.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,266},{197,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{197,73}}</string>
        <key>sourceSize</key>
        <string>{197,73}</string>
      </dict>
      <key>chatmessagebg2.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,343},{197,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{197,73}}</string>
        <key>sourceSize</key>
        <string>{197,73}</string>
      </dict>
      <key>Star 10.png</key>
      <dict>
        <key>frame</key>
        <string>{{203,266},{133,133}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{133,133}}</string>
        <key>sourceSize</key>
        <string>{133,133}</string>
      </dict>
      <key>photoShareBtn.png</key>
      <dict>
        <key>frame</key>
        <string>{{220,2},{55,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,44}}</string>
        <key>sourceSize</key>
        <string>{55,44}</string>
      </dict>
      <key>sendButton.png</key>
      <dict>
        <key>frame</key>
        <string>{{279,2},{50,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,45}}</string>
        <key>sourceSize</key>
        <string>{50,45}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>chat.png</string>
      <key>size</key>
      <string>{343,418}</string>
      <key>textureFileName</key>
      <string>texture</string>
    </dict>
  </dict>
</plist>
