<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>shoe-050.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{100,117}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,1},{100,117}}</string>
        <key>sourceSize</key>
        <string>{104,120}</string>
      </dict>
      <key>shoe-003.png</key>
      <dict>
        <key>frame</key>
        <string>{{106,2},{116,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{116,84}}</string>
        <key>sourceSize</key>
        <string>{116,84}</string>
      </dict>
      <key>shoe-045.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,123},{96,107}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,2},{96,107}}</string>
        <key>sourceSize</key>
        <string>{100,112}</string>
      </dict>
      <key>shoe-020.png</key>
      <dict>
        <key>frame</key>
        <string>{{106,90},{106,86}}</string>
        <key>offset</key>
        <string>{-1,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,86}}</string>
        <key>sourceSize</key>
        <string>{108,88}</string>
      </dict>
      <key>shoe-049.png</key>
      <dict>
        <key>frame</key>
        <string>{{226,2},{106,91}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,2},{106,91}}</string>
        <key>sourceSize</key>
        <string>{108,96}</string>
      </dict>
      <key>shoe-011.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,97},{88,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,1},{88,106}}</string>
        <key>sourceSize</key>
        <string>{88,108}</string>
      </dict>
      <key>shoe-012.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,234},{103,68}}</string>
        <key>offset</key>
        <string>{-0.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{103,68}}</string>
        <key>sourceSize</key>
        <string>{104,68}</string>
      </dict>
      <key>shoe-047.png</key>
      <dict>
        <key>frame</key>
        <string>{{109,180},{102,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,1},{102,82}}</string>
        <key>sourceSize</key>
        <string>{104,84}</string>
      </dict>
      <key>shoe-018.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,306},{92,102}}</string>
        <key>offset</key>
        <string>{0,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{92,102}}</string>
        <key>sourceSize</key>
        <string>{92,104}</string>
      </dict>
      <key>shoe-040.png</key>
      <dict>
        <key>frame</key>
        <string>{{215,207},{102,46}}</string>
        <key>offset</key>
        <string>{0,-9}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9,26},{102,46}}</string>
        <key>sourceSize</key>
        <string>{120,80}</string>
      </dict>
      <key>shoe-009.png</key>
      <dict>
        <key>frame</key>
        <string>{{215,257},{101,60}}</string>
        <key>offset</key>
        <string>{0.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,0},{101,60}}</string>
        <key>sourceSize</key>
        <string>{104,60}</string>
      </dict>
      <key>shoe-030.png</key>
      <dict>
        <key>frame</key>
        <string>{{109,266},{100,76}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,76}}</string>
        <key>sourceSize</key>
        <string>{100,76}</string>
      </dict>
      <key>shoe-034.png</key>
      <dict>
        <key>frame</key>
        <string>{{336,2},{94,100}}</string>
        <key>offset</key>
        <string>{1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,2},{94,100}}</string>
        <key>sourceSize</key>
        <string>{96,104}</string>
      </dict>
      <key>shoe-042.png</key>
      <dict>
        <key>frame</key>
        <string>{{213,321},{100,82}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{8,2},{100,82}}</string>
        <key>sourceSize</key>
        <string>{116,84}</string>
      </dict>
      <key>shoe-041.png</key>
      <dict>
        <key>frame</key>
        <string>{{317,321},{98,79}}</string>
        <key>offset</key>
        <string>{0,-1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9,4},{98,79}}</string>
        <key>sourceSize</key>
        <string>{116,84}</string>
      </dict>
      <key>shoe-032.png</key>
      <dict>
        <key>frame</key>
        <string>{{321,106},{97,68}}</string>
        <key>offset</key>
        <string>{0.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,0},{97,68}}</string>
        <key>sourceSize</key>
        <string>{100,68}</string>
      </dict>
      <key>shoe-010.png</key>
      <dict>
        <key>frame</key>
        <string>{{320,257},{96,56}}</string>
        <key>offset</key>
        <string>{0,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{12,15},{96,56}}</string>
        <key>sourceSize</key>
        <string>{120,80}</string>
      </dict>
      <key>shoe-035.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,412},{96,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,84}}</string>
        <key>sourceSize</key>
        <string>{96,84}</string>
      </dict>
      <key>shoe-004.png</key>
      <dict>
        <key>frame</key>
        <string>{{321,178},{96,65}}</string>
        <key>offset</key>
        <string>{0,3.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{12,4},{96,65}}</string>
        <key>sourceSize</key>
        <string>{120,80}</string>
      </dict>
      <key>shoe-014.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,346},{95,52}}</string>
        <key>offset</key>
        <string>{0.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,4},{95,52}}</string>
        <key>sourceSize</key>
        <string>{96,60}</string>
      </dict>
      <key>shoe-044.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,402},{94,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,1},{94,66}}</string>
        <key>sourceSize</key>
        <string>{100,68}</string>
      </dict>
      <key>shoe-046.png</key>
      <dict>
        <key>frame</key>
        <string>{{317,404},{92,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,1},{92,62}}</string>
        <key>sourceSize</key>
        <string>{96,64}</string>
      </dict>
      <key>shoe-013.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,407},{92,56}}</string>
        <key>offset</key>
        <string>{0,2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{92,56}}</string>
        <key>sourceSize</key>
        <string>{92,60}</string>
      </dict>
      <key>shoe-024.png</key>
      <dict>
        <key>frame</key>
        <string>{{434,2},{88,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,4},{88,52}}</string>
        <key>sourceSize</key>
        <string>{88,60}</string>
      </dict>
      <key>shoe-001.png</key>
      <dict>
        <key>frame</key>
        <string>{{434,58},{88,47}}</string>
        <key>offset</key>
        <string>{0,-1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{16,18},{88,47}}</string>
        <key>sourceSize</key>
        <string>{120,80}</string>
      </dict>
      <key>shoe-037.png</key>
      <dict>
        <key>frame</key>
        <string>{{422,109},{86,60}}</string>
        <key>offset</key>
        <string>{-1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{86,60}}</string>
        <key>sourceSize</key>
        <string>{88,60}</string>
      </dict>
      <key>shoe-033.png</key>
      <dict>
        <key>frame</key>
        <string>{{422,173},{86,57}}</string>
        <key>offset</key>
        <string>{0,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,2},{86,57}}</string>
        <key>sourceSize</key>
        <string>{88,60}</string>
      </dict>
      <key>shoe-021.png</key>
      <dict>
        <key>frame</key>
        <string>{{421,234},{86,60}}</string>
        <key>offset</key>
        <string>{1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,0},{86,60}}</string>
        <key>sourceSize</key>
        <string>{88,60}</string>
      </dict>
      <key>shoe-016.png</key>
      <dict>
        <key>frame</key>
        <string>{{420,298},{84,57}}</string>
        <key>offset</key>
        <string>{0,-1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,3},{84,57}}</string>
        <key>sourceSize</key>
        <string>{84,60}</string>
      </dict>
      <key>shoe-039.png</key>
      <dict>
        <key>frame</key>
        <string>{{419,359},{84,55}}</string>
        <key>offset</key>
        <string>{0,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,3},{84,55}}</string>
        <key>sourceSize</key>
        <string>{84,60}</string>
      </dict>
      <key>shoe-023.png</key>
      <dict>
        <key>frame</key>
        <string>{{413,418},{84,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{84,60}}</string>
        <key>sourceSize</key>
        <string>{84,60}</string>
      </dict>
      <key>shoe-026.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,500},{84,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{84,60}}</string>
        <key>sourceSize</key>
        <string>{84,60}</string>
      </dict>
      <key>shoe-027.png</key>
      <dict>
        <key>frame</key>
        <string>{{90,500},{84,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,8},{84,44}}</string>
        <key>sourceSize</key>
        <string>{84,60}</string>
      </dict>
      <key>shoe-048.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,467},{84,45}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,7},{84,45}}</string>
        <key>sourceSize</key>
        <string>{88,60}</string>
      </dict>
      <key>shoe-022.png</key>
      <dict>
        <key>frame</key>
        <string>{{288,482},{80,58}}</string>
        <key>offset</key>
        <string>{0,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,0},{80,58}}</string>
        <key>sourceSize</key>
        <string>{84,60}</string>
      </dict>
      <key>shoe-031.png</key>
      <dict>
        <key>frame</key>
        <string>{{372,482},{80,49}}</string>
        <key>offset</key>
        <string>{0,-1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,7},{80,49}}</string>
        <key>sourceSize</key>
        <string>{80,60}</string>
      </dict>
      <key>shoe-017.png</key>
      <dict>
        <key>frame</key>
        <string>{{178,516},{79,44}}</string>
        <key>offset</key>
        <string>{0.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,8},{79,44}}</string>
        <key>sourceSize</key>
        <string>{80,60}</string>
      </dict>
      <key>shoe-025.png</key>
      <dict>
        <key>frame</key>
        <string>{{526,2},{79,46}}</string>
        <key>offset</key>
        <string>{-0.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,7},{79,46}}</string>
        <key>sourceSize</key>
        <string>{84,60}</string>
      </dict>
      <key>shoe-015.png</key>
      <dict>
        <key>frame</key>
        <string>{{526,52},{79,32}}</string>
        <key>offset</key>
        <string>{-0.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,14},{79,32}}</string>
        <key>sourceSize</key>
        <string>{80,60}</string>
      </dict>
      <key>shoe-028.png</key>
      <dict>
        <key>frame</key>
        <string>{{526,88},{78,59}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,2},{78,59}}</string>
        <key>sourceSize</key>
        <string>{84,64}</string>
      </dict>
      <key>shoe-036.png</key>
      <dict>
        <key>frame</key>
        <string>{{512,151},{78,39}}</string>
        <key>offset</key>
        <string>{0,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,11},{78,39}}</string>
        <key>sourceSize</key>
        <string>{80,60}</string>
      </dict>
      <key>shoe-043.png</key>
      <dict>
        <key>frame</key>
        <string>{{512,194},{78,38}}</string>
        <key>offset</key>
        <string>{0,-4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,15},{78,38}}</string>
        <key>sourceSize</key>
        <string>{80,60}</string>
      </dict>
      <key>shoe-019.png</key>
      <dict>
        <key>frame</key>
        <string>{{511,236},{78,36}}</string>
        <key>offset</key>
        <string>{1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,12},{78,36}}</string>
        <key>sourceSize</key>
        <string>{80,60}</string>
      </dict>
      <key>shoe-008.png</key>
      <dict>
        <key>frame</key>
        <string>{{511,276},{78,31}}</string>
        <key>offset</key>
        <string>{0,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,15},{78,31}}</string>
        <key>sourceSize</key>
        <string>{80,60}</string>
      </dict>
      <key>shoe-007.png</key>
      <dict>
        <key>frame</key>
        <string>{{508,311},{78,42}}</string>
        <key>offset</key>
        <string>{-1,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,8},{78,42}}</string>
        <key>sourceSize</key>
        <string>{80,60}</string>
      </dict>
      <key>shoe-002.png</key>
      <dict>
        <key>frame</key>
        <string>{{508,357},{77,44}}</string>
        <key>offset</key>
        <string>{-0.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,8},{77,44}}</string>
        <key>sourceSize</key>
        <string>{80,60}</string>
      </dict>
      <key>shoe-006.png</key>
      <dict>
        <key>frame</key>
        <string>{{507,405},{76,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,10},{76,40}}</string>
        <key>sourceSize</key>
        <string>{80,60}</string>
      </dict>
      <key>shoe-029.png</key>
      <dict>
        <key>frame</key>
        <string>{{501,449},{76,38}}</string>
        <key>offset</key>
        <string>{0,-11}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,24},{76,38}}</string>
        <key>sourceSize</key>
        <string>{88,64}</string>
      </dict>
      <key>shoe-038.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,472},{76,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,19},{76,22}}</string>
        <key>sourceSize</key>
        <string>{76,60}</string>
      </dict>
      <key>shoe-005.png</key>
      <dict>
        <key>frame</key>
        <string>{{372,535},{73,24}}</string>
        <key>offset</key>
        <string>{-0.5,2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,16},{73,24}}</string>
        <key>sourceSize</key>
        <string>{80,60}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>shoe.png</string>
      <key>size</key>
      <string>{607,562}</string>
      <key>textureFileName</key>
      <string>texture</string>
    </dict>
  </dict>
</plist>
