<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sock-050.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{94,234}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,5},{94,234}}</string>
        <key>sourceSize</key>
        <string>{96,240}</string>
      </dict>
      <key>sock-028.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,2},{94,234}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,5},{94,234}}</string>
        <key>sourceSize</key>
        <string>{96,240}</string>
      </dict>
      <key>sock-033.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,2},{94,234}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,5},{94,234}}</string>
        <key>sourceSize</key>
        <string>{96,240}</string>
      </dict>
      <key>sock-034.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,240},{94,234}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,5},{94,234}}</string>
        <key>sourceSize</key>
        <string>{96,240}</string>
      </dict>
      <key>sock-046.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,240},{94,234}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,5},{94,234}}</string>
        <key>sourceSize</key>
        <string>{96,240}</string>
      </dict>
      <key>sock-035.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,240},{94,234}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,5},{94,234}}</string>
        <key>sourceSize</key>
        <string>{96,240}</string>
      </dict>
      <key>sock-042.png</key>
      <dict>
        <key>frame</key>
        <string>{{296,2},{94,234}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,5},{94,234}}</string>
        <key>sourceSize</key>
        <string>{96,240}</string>
      </dict>
      <key>sock-041.png</key>
      <dict>
        <key>frame</key>
        <string>{{296,240},{94,234}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,5},{94,234}}</string>
        <key>sourceSize</key>
        <string>{96,240}</string>
      </dict>
      <key>sock-010.png</key>
      <dict>
        <key>frame</key>
        <string>{{394,2},{94,234}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,5},{94,234}}</string>
        <key>sourceSize</key>
        <string>{96,240}</string>
      </dict>
      <key>sock-003.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,478},{96,186}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{12,9},{96,186}}</string>
        <key>sourceSize</key>
        <string>{120,200}</string>
      </dict>
      <key>sock-036.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,478},{90,185}}</string>
        <key>offset</key>
        <string>{0,-2.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,10},{90,185}}</string>
        <key>sourceSize</key>
        <string>{120,200}</string>
      </dict>
      <key>sock-047.png</key>
      <dict>
        <key>frame</key>
        <string>{{196,478},{90,184}}</string>
        <key>offset</key>
        <string>{0,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,11},{90,184}}</string>
        <key>sourceSize</key>
        <string>{120,200}</string>
      </dict>
      <key>sock-021.png</key>
      <dict>
        <key>frame</key>
        <string>{{290,478},{96,173}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,1},{96,173}}</string>
        <key>sourceSize</key>
        <string>{96,176}</string>
      </dict>
      <key>sock-020.png</key>
      <dict>
        <key>frame</key>
        <string>{{390,478},{96,173}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,1},{96,173}}</string>
        <key>sourceSize</key>
        <string>{96,176}</string>
      </dict>
      <key>sock-005.png</key>
      <dict>
        <key>frame</key>
        <string>{{394,240},{94,171}}</string>
        <key>offset</key>
        <string>{0,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,1},{94,171}}</string>
        <key>sourceSize</key>
        <string>{96,172}</string>
      </dict>
      <key>sock-039.png</key>
      <dict>
        <key>frame</key>
        <string>{{492,2},{94,171}}</string>
        <key>offset</key>
        <string>{0,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,1},{94,171}}</string>
        <key>sourceSize</key>
        <string>{96,172}</string>
      </dict>
      <key>sock-040.png</key>
      <dict>
        <key>frame</key>
        <string>{{492,177},{94,171}}</string>
        <key>offset</key>
        <string>{0,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,1},{94,171}}</string>
        <key>sourceSize</key>
        <string>{96,172}</string>
      </dict>
      <key>sock-031.png</key>
      <dict>
        <key>frame</key>
        <string>{{492,352},{94,171}}</string>
        <key>offset</key>
        <string>{0,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,1},{94,171}}</string>
        <key>sourceSize</key>
        <string>{96,172}</string>
      </dict>
      <key>sock-038.png</key>
      <dict>
        <key>frame</key>
        <string>{{590,2},{94,170}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,1},{94,170}}</string>
        <key>sourceSize</key>
        <string>{96,172}</string>
      </dict>
      <key>sock-007.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,668},{108,167}}</string>
        <key>offset</key>
        <string>{0,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,1},{108,167}}</string>
        <key>sourceSize</key>
        <string>{112,168}</string>
      </dict>
      <key>sock-030.png</key>
      <dict>
        <key>frame</key>
        <string>{{114,667},{92,167}}</string>
        <key>offset</key>
        <string>{0,-11.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{14,28},{92,167}}</string>
        <key>sourceSize</key>
        <string>{120,200}</string>
      </dict>
      <key>sock-013.png</key>
      <dict>
        <key>frame</key>
        <string>{{210,666},{96,166}}</string>
        <key>offset</key>
        <string>{0,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,4},{96,166}}</string>
        <key>sourceSize</key>
        <string>{96,172}</string>
      </dict>
      <key>sock-026.png</key>
      <dict>
        <key>frame</key>
        <string>{{590,176},{92,163}}</string>
        <key>offset</key>
        <string>{0,-2.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,7},{92,163}}</string>
        <key>sourceSize</key>
        <string>{96,172}</string>
      </dict>
      <key>sock-024.png</key>
      <dict>
        <key>frame</key>
        <string>{{310,655},{120,157}}</string>
        <key>offset</key>
        <string>{0,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,157}}</string>
        <key>sourceSize</key>
        <string>{120,160}</string>
      </dict>
      <key>sock-025.png</key>
      <dict>
        <key>frame</key>
        <string>{{590,343},{88,157}}</string>
        <key>offset</key>
        <string>{0,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{16,0},{88,157}}</string>
        <key>sourceSize</key>
        <string>{120,160}</string>
      </dict>
      <key>sock-009.png</key>
      <dict>
        <key>frame</key>
        <string>{{434,655},{102,147}}</string>
        <key>offset</key>
        <string>{0,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,1},{102,147}}</string>
        <key>sourceSize</key>
        <string>{104,148}</string>
      </dict>
      <key>sock-001.png</key>
      <dict>
        <key>frame</key>
        <string>{{590,504},{86,147}}</string>
        <key>offset</key>
        <string>{0,-1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{17,8},{86,147}}</string>
        <key>sourceSize</key>
        <string>{120,160}</string>
      </dict>
      <key>sock-049.png</key>
      <dict>
        <key>frame</key>
        <string>{{540,655},{90,138}}</string>
        <key>offset</key>
        <string>{2,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,4},{90,138}}</string>
        <key>sourceSize</key>
        <string>{96,144}</string>
      </dict>
      <key>sock-048.png</key>
      <dict>
        <key>frame</key>
        <string>{{490,527},{89,115}}</string>
        <key>offset</key>
        <string>{-1.5,2.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,4},{89,115}}</string>
        <key>sourceSize</key>
        <string>{100,128}</string>
      </dict>
      <key>sock-012.png</key>
      <dict>
        <key>frame</key>
        <string>{{688,2},{88,113}}</string>
        <key>offset</key>
        <string>{0,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{88,113}}</string>
        <key>sourceSize</key>
        <string>{88,116}</string>
      </dict>
      <key>sock-011.png</key>
      <dict>
        <key>frame</key>
        <string>{{688,119},{86,113}}</string>
        <key>offset</key>
        <string>{-1,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{86,113}}</string>
        <key>sourceSize</key>
        <string>{88,116}</string>
      </dict>
      <key>sock-027.png</key>
      <dict>
        <key>frame</key>
        <string>{{686,236},{84,107}}</string>
        <key>offset</key>
        <string>{0,-1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,6},{84,107}}</string>
        <key>sourceSize</key>
        <string>{88,116}</string>
      </dict>
      <key>sock-023.png</key>
      <dict>
        <key>frame</key>
        <string>{{682,347},{84,105}}</string>
        <key>offset</key>
        <string>{0,-2.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,8},{84,105}}</string>
        <key>sourceSize</key>
        <string>{88,116}</string>
      </dict>
      <key>sock-022.png</key>
      <dict>
        <key>frame</key>
        <string>{{682,456},{88,105}}</string>
        <key>offset</key>
        <string>{0,-2.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,8},{88,105}}</string>
        <key>sourceSize</key>
        <string>{88,116}</string>
      </dict>
      <key>sock-043.png</key>
      <dict>
        <key>frame</key>
        <string>{{680,565},{84,102}}</string>
        <key>offset</key>
        <string>{0,-4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,11},{84,102}}</string>
        <key>sourceSize</key>
        <string>{88,116}</string>
      </dict>
      <key>sock-037.png</key>
      <dict>
        <key>frame</key>
        <string>{{634,671},{84,102}}</string>
        <key>offset</key>
        <string>{0,-4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,11},{84,102}}</string>
        <key>sourceSize</key>
        <string>{88,116}</string>
      </dict>
      <key>sock-032.png</key>
      <dict>
        <key>frame</key>
        <string>{{780,2},{84,102}}</string>
        <key>offset</key>
        <string>{0,-4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,11},{84,102}}</string>
        <key>sourceSize</key>
        <string>{88,116}</string>
      </dict>
      <key>sock-029.png</key>
      <dict>
        <key>frame</key>
        <string>{{780,108},{84,102}}</string>
        <key>offset</key>
        <string>{0,-4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,11},{84,102}}</string>
        <key>sourceSize</key>
        <string>{88,116}</string>
      </dict>
      <key>sock-002.png</key>
      <dict>
        <key>frame</key>
        <string>{{768,565},{96,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,68}}</string>
        <key>sourceSize</key>
        <string>{96,68}</string>
      </dict>
      <key>sock-018.png</key>
      <dict>
        <key>frame</key>
        <string>{{774,236},{90,65}}</string>
        <key>offset</key>
        <string>{0,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,0},{90,65}}</string>
        <key>sourceSize</key>
        <string>{96,68}</string>
      </dict>
      <key>sock-014.png</key>
      <dict>
        <key>frame</key>
        <string>{{774,305},{88,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{88,72}}</string>
        <key>sourceSize</key>
        <string>{88,72}</string>
      </dict>
      <key>sock-015.png</key>
      <dict>
        <key>frame</key>
        <string>{{774,381},{88,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{88,72}}</string>
        <key>sourceSize</key>
        <string>{88,72}</string>
      </dict>
      <key>sock-044.png</key>
      <dict>
        <key>frame</key>
        <string>{{540,797},{88,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,12},{88,36}}</string>
        <key>sourceSize</key>
        <string>{92,60}</string>
      </dict>
      <key>sock-019.png</key>
      <dict>
        <key>frame</key>
        <string>{{774,457},{86,66}}</string>
        <key>offset</key>
        <string>{0,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,0},{86,66}}</string>
        <key>sourceSize</key>
        <string>{96,68}</string>
      </dict>
      <key>sock-045.png</key>
      <dict>
        <key>frame</key>
        <string>{{768,637},{84,60}}</string>
        <key>offset</key>
        <string>{0,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,7},{84,60}}</string>
        <key>sourceSize</key>
        <string>{88,68}</string>
      </dict>
      <key>sock-004.png</key>
      <dict>
        <key>frame</key>
        <string>{{722,701},{84,63}}</string>
        <key>offset</key>
        <string>{0,-1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,4},{84,63}}</string>
        <key>sourceSize</key>
        <string>{88,68}</string>
      </dict>
      <key>sock-017.png</key>
      <dict>
        <key>frame</key>
        <string>{{394,415},{80,40}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,12},{80,40}}</string>
        <key>sourceSize</key>
        <string>{84,60}</string>
      </dict>
      <key>sock-016.png</key>
      <dict>
        <key>frame</key>
        <string>{{634,777},{80,40}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,12},{80,40}}</string>
        <key>sourceSize</key>
        <string>{84,60}</string>
      </dict>
      <key>sock-008.png</key>
      <dict>
        <key>frame</key>
        <string>{{722,768},{58,66}}</string>
        <key>offset</key>
        <string>{1,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,0},{58,66}}</string>
        <key>sourceSize</key>
        <string>{60,68}</string>
      </dict>
      <key>sock-006.png</key>
      <dict>
        <key>frame</key>
        <string>{{810,701},{52,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,12},{52,36}}</string>
        <key>sourceSize</key>
        <string>{60,60}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>sock.png</string>
      <key>size</key>
      <string>{866,837}</string>
      <key>textureFileName</key>
      <string>texture</string>
    </dict>
  </dict>
</plist>
